<section>
    <%= form_with model: @trip do |f| %>
        <%= f.label :street, "Street:" %>
        <%= f.text_field :street%>
        <%= f.label :city, "City:" %>
        <%= f.text_field :city%>
        <%= f.label :country, "Country:" %>
        <%= f.text_field :country%>
        <%= f.submit %>
    <% end %>
    
</section>