<section class='stats-container'>
    <section class='monthly-trips-container'>
        <h1>Last month trips</h1>
        <% @activities.each do |act| %>
            <p>
                <h3>From:</h3><%= act.start[:address] %>
            </p>
            <p>
                <h3>To:</h3><%= act.destination[:address] %>
            </p>
            <p>
                <h3>Distance:</h3><%= act[:distance] %> km
            </p>
            
            <br/><br/>
        <%end %>
    </section>
    <section class='weekly-trips-container'>
        <h1>Last week you traveled: </h1><%= @last_week_activities %>
        <br/><br/>
        <%= link_to 'New activity', root_path, class:'new-activity' %>
    </section>
</section>