<section>
<%= form_with model: @activity do |f| %>
    <%= f.label :start%>
    <%= f.text_field :start %>
    <%= f.label :destination%>
    <%= f.text_field :destination %>
    <%= f.submit %>
<% end %>

</section>